.bookmark-button {
  background-color: whitesmoke;
  position: fixed;
  top: 5vh;
  right: 16px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.bookmark-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.prompt-box:hover {
  background-color: black;
}